:root {
  --idgreen: #29dec7;
  --idlightgreen: #73e5d2;
  --idred: #ff6666;
  --idredresaltado: #e82c2c;
  --idblack: #272a2f;
  --grey: #f4f4f4;
  --darkgrey: #e7e7e7;
  --darkgreyultra: #43464b;
  --blue: #244555;
}

@font-face {
  font-family: Haffer-Regular;
  src: url("assets/font/Haffer-Regular.03e4f08c.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Haffer-Bold;
  src: url("assets/font/Haffer-Bold.ead08b59.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Haffer-Italic;
  src: url("assets/font/Haffer-RegularItalic.46ef0079.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Haffer-Regular", "Haffer-Bold", "Haffer-Italic", sans-serif;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/loginbackgr.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding-bottom: 10px;
}

.elementos i {
  color: #fff;
}

.elementos a {
  font-family: "Haffer-Bold";
  text-decoration: none;
  color: #fff;
}

.elementos a:hover {
  color: var(--idblack);
  transition: all 0.2s ease-in;
}

.back__form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 430px;
  gap: 15px;
  background-color: var(--darkgrey);
  border-radius: 30px;
  box-shadow: 8px 7px 0px -3px rgba(39, 42, 47, 1);
  -webkit-box-shadow: 8px 7px 0px -3px rgba(39, 42, 47, 1);
  -moz-box-shadow: 8px 7px 0px -3px rgba(39, 42, 47, 1);
  animation: slide-down 0.5s ease forwards;
  transform: translateY(-100%);
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form__login img {
  height: 60px;
}

.form__login h1 {
  font-family: "Haffer-Bold";
}

.form__login h2 {
  font-size: 17px;
  color: var(--darkgreyultra);
}

.form__login h2:hover {
  scale: 110%;
  cursor: default;
  color: var(--idredresaltado);
  transition: all 0.2s ease-in;
}

.email {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
input[type="email"] {
  color: var(--idblack);
  background-color: #ffffff;
  border: 1px solid var(--darkgrey);
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
  width: 300px;
}

.password {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
input[type="password"] {
  color: var(--idblack);
  background-color: #ffffff;
  border: 1px solid var(--darkgrey);
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
  width: 300px;
}

.register__form {
  font-size: 14px;
}

.register__form a {
  font-size: 14px;
  font-family: "Haffer-Bold";
  color: var(--idblack);
}

input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--idred);
  border: none;
  color: #ffff;
  font-family: "Harref-Bold", sans-serif;
  border-radius: 10px;
  width: 130px;
  height: 40px;
  cursor: pointer;
}
input[type="submit"]:active {
  transform: scale(0.96);
}

@media (max-width: 991px) {
  /* Tablet mediana / máx. 991px */
}

@media (max-width: 768px) {
  /* Celular chico / max. 768px */

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
  }
  .elementos {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .back__form {
    margin-top: 100px;
  }

  .form__login {
    display: flex;
    justify-content: center;
    width: 300px;
    max-height: 390px;
    gap: 8px;
    margin-bottom: 10px;
  }

  .form__login h1 {
    font-size: 20px;
  }

  .form__login img {
    height: 40px;
  }

  input[type="password"] {
    width: 250px;
  }

  input[type="email"] {
    width: 250px;
  }
}

@media (max-width: 576px) {
  /* Celular chico / max. 576px */
  body {
    align-items: center;
    background-size: inherit;
    margin-top: 0;
  }
  .elementos {
    max-width: 85%;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    padding-bottom: 0;
  }

  .form__login {
    width: 300px;
    height: 430px;
    justify-content: center;
    align-items: center;
  }
}
