:root {
  --idgreen: #29dec7;
  --idlightgreen: #73e5d2;
  --idred: #ff6666;
  --idredresaltado: #e82c2c;
  --idblack: #272a2f;
  --grey: #f4f4f4;
  --darkgrey: #e7e7e7;
  --darkgreyultra: #43464b;
  --blue: #244555;
}

@font-face {
  font-family: Haffer-Regular;
  src: url("assets/font/Haffer-Regular.03e4f08c.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Haffer-Bold;
  src: url("assets/font/Haffer-Bold.ead08b59.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Haffer-Italic;
  src: url("assets/font/Haffer-RegularItalic.46ef0079.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Haffer-Regular", "Haffer-Bold", "Haffer-Italic", sans-serif;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/registerbackgr.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 7px;
}

.elementos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding-bottom: 10px;
}

.elementos a {
  font-family: "Haffer-Bold";
  text-decoration: none;
  color: var(--blue);
}

.elementos a:hover {
  color: var(--idredresaltado);
  transition: all 0.2s ease-in;
}

.back__form {
  display: flex;
  flex-direction: column;
}

.form__register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 540px;
  height: 640px;
  margin: 0 auto;
  gap: 13px;
  background-color: var(--darkgrey);
  border-radius: 30px;
  box-shadow: 8px 7px 0px -3px rgba(39, 42, 47, 1);
  -webkit-box-shadow: 8px 7px 0px -3px rgba(39, 42, 47, 1);
  -moz-box-shadow: 8px 7px 0px -3px rgba(39, 42, 47, 1);
}
.form__register img {
  height: 50px;
}
.email {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
input[type="email"] {
  color: var(--idblack);
  background-color: #ffffff;
  border: 1px solid var(--darkgrey);
  padding: 6px;
  border-radius: 10px;
  font-size: 14px;
  width: 360px;
}
.password {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
input[type="password"] {
  color: var(--idblack);
  background-color: #ffffff;
  border: 1px solid var(--darkgrey);
  padding: 6px;
  border-radius: 10px;
  font-size: 14px;
  width: 360px;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
input[type="text"] {
  border: 1px solid var(--darkgrey);
  background-color: #ffffff;
  border: 1px solid var(--darkgrey);
  padding: 6px;
  border-radius: 10px;
  font-size: 14px;
  width: 360px;
}
.company {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.birth {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
input[type="date"] {
  color: var(--darkgreyultra);
  background-color: #ffffff;
  border: 1px solid var(--darkgrey);
  padding: 6px;
  border-radius: 10px;
  font-size: 14px;
  width: 200px;
}
.idgenero {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.idgenero_opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.newsletter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}
input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--idred);
  border: none;
  color: #ffff;
  font-family: "Harref-Bold", sans-serif;
  border-radius: 10px;
  width: 130px;
  height: 40px;
  cursor: pointer;
}
input[type="submit"]:active {
  transform: scale(0.96);
}

@media (max-width: 991px) {
  /* Tablet mediana / máx. 991px */
}

@media (max-width: 576px) {
  /* Celular chico / max. 576px */

  .html {
    max-width: 1200px;
  }

  body {
    align-items: normal;
  }
  .elementos {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
    gap: 8px;
  }

  .form__register {
    width: 350px;
    height: 610px;
  }

  .form__register h1 {
    font-size: 20px;
  }

  .idgenero_opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: wrap;
    gap: 8px;
  }

  input[type="email"] {
    width: 330px;
  }

  input[type="password"] {
    width: 330px;
  }

  input[type="text"] {
    width: 330px;
  }

  .newsletter {
    font-size: 14px;
  }
}
